<div class="login-box-body">
  <h1>Editing Statement</h1>  
  <div class="page_body">
    
  
    <%= render 'form2', statement: @statement %>
    
    <%= link_to 'Show', @statement %> |
    <%= link_to 'Back', statements_path %>
  </div>
</div>