<div class="login-box-body">
  <h1>Editing Order</h1>
  <div class="page_body">
    <%= render 'form2', order: @order %>
    
    <%= link_to 'Show', @order %> |
    <%= link_to 'Back', orders_path %>
  </div>
</div>
